*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
img{
    display: block;
    max-width: 100%;
}
header{
    display: flex;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 15px 0;
}
.logo{
    width: 150px;

}
nav ul{
    display: flex;
    list-style: none; 
    margin: 0;
    width: 40%;
    justify-content: space-between; 

}
li{
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 8px 0px; 
    font-size: 20px;
}

nav ul li:first-child{
    margin-left: 0;
}
nav ul li a:hover{
    color: #ff3321;
}