*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
img{
    max-width: 100%;
}
header{
display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.logo{
    width: 40%;

}
ul{
    display: flex;
    list-style: none; 
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 8px 12px; 
    font-size: 20px;
}

nav ul li a:hover{
    color: #ff3321;
}